.container {
    padding: 15px 100px;
}

.slider-wrapper {
    position: relative;
}

.slideProducts {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    /* cursor: grab; */
}

.slideProducts.dragging {
    cursor: grabbing;
    scroll-behavior: auto;
}

.slideProducts::-webkit-scrollbar {
    display: none;
}

@media (max-width: 992px) {
    .container {
        padding: 15px 80px;
    }
}
@media (max-width: 768px) {
    .container {
        padding: 15px 50px;
    }
}