.container {
    padding: 15px 100px;
}

.boxs {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

@media (max-width: 992px) {
    .container {
        padding: 15px 80px;
    }
}
@media (max-width: 768px) {
    .container {
        padding: 15px 50px;
    }
}